.mobileimg{
   height: 281px;
  
}
.mobileimg1{
    height: 318.9px;
   
 }
 .padd{
    padding: 2%;
 }
 .mobile2{
    width: 100%;
    margin-top: 5%;
 }
 footer{
    margin-top: 2600px;
 }
 .mobileimg3{
    height: 380px;
 }